@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s linear;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #424551;
}
.container {
  max-width: 1230px;
  margin: 0 auto;
}
.section__btn1 {
  padding: 16px 40px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #ff3f3a, #f75e05);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.section__btn2 {
  margin-right: 10px;
  padding: 16px 40px;
  border-radius: 4px;
  border: 1px solid #ff3f3a;
  color: #f75e05;
  background: #feded4;
  cursor: pointer;
}
.section__title {
  font-size: 46px;
  line-height: 130%;
  font-weight: 900;
}
.section__btn2:hover {
  color: #fff;
  background: linear-gradient(to right, #ff3f3a, #f75e05);
}
/* Header section styles */
.header {
  padding: 20px;
  background: #feded4;
  height: 108px;
  width: 1920;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left,
.header__list,
.header__right {
  display: flex;
  align-items: center;
  gap: 32px;
}
.header__auth {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: #424551;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
}
.header__auth > img {
  height: 17.92px;
  width: 16.67px;
}
/* Hero section styles */
.hero {
  background: url(../image/shapes.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #feded4;
  min-height: 100vh;
}
.hero__wrapper {
  padding: 100px 0;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: space-between;
}
.pleyer {
  display: flex;
  align-items: center;
  gap: 5px;
}
.hero__title {
  padding: 40px 0;
  width: 400px;
  font-size: 44px;
}

/* Header bottom styles */
.hero__bottom {
  padding: 72px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin: 40px 0 64px 0;
}
.hero__bottom > i {
  color: #f75e05;
}
.text {
  margin: 50px 0;
  font-size: 46px;
}
.descraption {
  font-size: 16px;
}
/* About section sytyles */
.about {
  background: url(../image/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about__wrapper {
  padding: 70px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.about__subtitle {
  font-size: 16px;
}
.about__title {
  font-size: 46px;
}
.right__discraption {
  font-size: 16px;
  color: #424551;
}
.right__text {
  display: flex;
  gap: 10px;
}
.right__text > i {
  width: 16px;
  height: 16px;
  color: #ff3f3a;
}
.text {
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 160%;
}
.about__btn {
  padding: 10px 30px;
  border: none;
  border-radius: 4px;
  background: linear-gradient(to right, #ff3f3a, #f75e05);
  color: #fff;
}
